ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 15px;

    img {
        width: 250px;
        cursor: pointer;

        background-size: cover;
        background-position: center top;
    }
    img:hover{
        transition-delay: .5s;
        
    }
}