.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left-navbar {
      display: flex;
      align-items: center;
      img {
        width: 180px;
        cursor: pointer;
      }
    li {
      display: inline;
      padding-left: 30px;
      cursor: pointer;
    }
  }

  .right-navbar {
    ul {
      li {
        img {
          width: 30px;
          cursor: pointer;
        }
      }
    }

    li {
      display: inline;
      padding-left: 20px;
    }
  }
}
