<div class="navbar">
  <div class="left-navbar">
      <img
        src="../../../assets/images/LOGO/icons8-netflix-480.png"
        alt="netflix"
      />
    <ul>
      <li>
      </li>
      <li>Home</li>
      <li>TV Shows</li>
      <li>Movies</li>
      <li>New & Popular</li>
      <li>My List</li>
      <li>Browse by Languages</li>
    </ul>
  </div>
  <div class="right-navbar">
    <ul>
      <li>
        <img
          src="../../../assets/images/Icons/icons8-búsqueda.svg"
          alt=""
        />
      </li>
      <li>
        <img src="../../../assets/images/Icons/icons8-recordatorios-de-citas.svg" alt="" />
      </li>
    </ul>
  </div>
</div>
