/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
    list-style: none;
    background-color: #0D0D0D;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin:25px 25px 25px 25px;
}